<% content_for :sidebar do %>
  <% todo_lists = IssueTodoList.where(project_id: @project.self_and_ancestors.ids).order('project_id', 'title') %>
  <% if IssueTodoListsHelper.has_todo_lists_permission?(@project.self_and_ancestors) && todo_lists.count > 0 -%>
    <h3><%= l(:issue_todo_lists_title) %></h3>
    <ul>
      <% todo_lists.each do |todo_list| %>
        <% if User.current.allowed_to?(:view_issue_todo_lists, todo_list.project) -%>
          <li>
            <%= link_to todo_list.project.name + ': ' + todo_list.title, project_issue_todo_list_path(todo_list.project, todo_list) %>
            <% if User.current.allowed_to?(:add_issue_todo_list_items, todo_list.project) && !todo_list.issues.include?(@issue) %>
              <%= link_to image_tag('link.png'),
                          bulk_allocate_issues_project_issue_todo_list_path(todo_list.project, todo_list, :issue_ids => [@issue.id], :back_url => issue_path(@issue.id)),
                          :method => :post,
                          :title => l(:label_relation_new)
              %>
            <% elsif !todo_list.issues.include?(@issue) %>
              <%= image_tag('link.png') %>
            <% end %>
            <% if User.current.allowed_to?(:remove_issue_todo_list_items, todo_list.project) && todo_list.issues.include?(@issue) %>
              <%= link_to image_tag('link_break.png'),
                          project_issue_todo_list_item_path(todo_list.project, todo_list, IssueTodoListItem.where(issue_todo_list_id: todo_list.id, issue_id: @issue.id).ids.first, :back_url => issue_path(@issue.id)),
                          :remote => false,
                          :method => :delete,
                          :data => {:confirm => l(:text_are_you_sure)},
                          :title => l(:label_relation_delete)
              %>
            <% elsif todo_list.issues.include?(@issue) %>
              <%= image_tag('link_break.png') %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>

