<% title = l(:issue_todo_lists_title_singular, id: @todo_list.id) + ': ' + h(@todo_list.title) %>
<% html_title(title) %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag "issue-todo-list.css", :plugin => :redmine_issue_todo_lists, :media => 'all' %>
  <%= javascript_include_tag 'issue-todo-list.js', :plugin => :redmine_issue_todo_lists %>
<% end %>
<div class="contextual">
  <%= link_to l(:button_edit), edit_project_issue_todo_list_path(@project, @todo_list), :accesskey => accesskey(:add), :class => 'icon icon-edit' if User.current.allowed_to?(:edit_issue_todo_lists, @project) %>
  <%= link_to l(:button_delete), project_issue_todo_list_path(@project, @todo_list), method: :delete, data: { confirm: l('text_are_you_sure') }, class: 'icon icon-del' if User.current.allowed_to?(:delete_issue_todo_lists, @project) %>
</div>
<h2><%= title %></h2>
<div class="splitcontentleft">
  <div class="wiki"><%= textilizable(@todo_list, :description) %></div>
</div>
<div class="splitcontentright">
  <div class="box" id="show-right-box">
    <%= render :partial => 'issue_todo_lists/show/right_box' %>
  </div>
</div>
<div class="autoscroll">
  <%= form_tag({}, :data => {:cm_url => issues_context_menu_path}) do -%>
  <table id="issue-todo-list-table" class="list <%= 'sortable' if User.current.allowed_to?(:order_issue_todo_list_items, @project) %>">
    <thead>
    <tr>
      <th class="checkbox hide-when-print">
        <%= check_box_tag 'check_all', '', false, :class => 'toggle-selection',
                          :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
      </th>
      <th><%= l(:issue_todo_label_order) %></th>
      <% if @todo_list.included_columns.count > 0 %>
        <% issue_columns = @issue_query.available_columns.select {|column| @todo_list.included_columns.include?(column.name.to_s)} %>
      <% else %>
        <% issue_columns = @issue_query.available_columns.select {|column| @issue_query.columns.include?(column)} %>
      <% end %>
      <% issue_columns.each do |column| %>
        <th><%= column.caption %></th>
      <% end %>
      <th><%= l(:label_comment) %></th>
      <% if User.current.allowed_to?(:update_issue_todo_list_items, @project) %>
        <th class="buttons"></th>
      <% end %>
      <% if User.current.allowed_to?(:remove_issue_todo_list_items, @project) %>
        <th class="buttons"></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
      <%= render :partial => 'items' %>
    </tbody>
  </table>
  <% end %>
  <%= context_menu %>
</div>
<% if User.current.allowed_to?(:update_issue_todo_list_items, @project) %>
  <div id="update_issue_todo_list_items_wrapper">
  </div>
<% end %>
<% if User.current.allowed_to?(:add_issue_todo_list_items, @project) %>
  <h3><%= l(:issue_todo_lists_add_issue) %></h3>
  <div  id="new_item_comment_box" class="box tabular">
    <%= form_for IssueTodoListItem.new, {
                                          :as => :item, :remote => true,
                                          :url => project_issue_todo_list_items_path(@project, @todo_list),
                                          :html => {:id => 'new-item-form'}
                                      } do |f| %>
      <div class="errors"></div>
      <p>
        <%= f.label :issue_id, l(:label_issue) %> #<%= f.text_field :issue_id, {size: 10, id: 'item_issue_id'} %>
      </p>
      <%= javascript_tag "observeAutocompleteField('item_issue_id', '#{escape_javascript auto_complete_issues_path(:project_id => @project, :scope => (Setting.cross_project_issue_relations? ? 'all' : nil))}')" %>
      <p>
        <%= f.label :comment, l(:label_comment) %> <%= f.text_area :comment, {rows: 8, id: 'new_item_comment', class: 'wiki-edit' } %>
      </p>
      <p>
        <%= submit_tag l(:button_save) %>
        <%= link_to_function l(:button_cancel), "$('#new_item_comment').removeData('changed'); $('#new-item-form').get(0).reset()" %>
      </p>
    <% end %>
  </div>
<% end %>
<%= wikitoolbar_for 'new_item_comment', preview_text_path %>
<% other_formats_links do |f| %>
  <%= f.link_to 'CSV', :url => params.respond_to?(:to_unsafe_hash) ? params.to_unsafe_hash : params %>
<% end %>