<% title = l(:issue_todo_lists_title_singular, id: @todo_list.id) + ': ' + h(@todo_list.title) %>
<% html_title(title) %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag "issue-todo-list.css", :plugin => :redmine_issue_todo_lists, :media => 'all' %>
  <%= javascript_include_tag 'issue-todo-list.js', :plugin => :redmine_issue_todo_lists %>
<% end %>
<div class="contextual">
  <%= link_to l(:button_edit), edit_project_issue_todo_list_path(@project, @todo_list), :accesskey => accesskey(:add), :class => 'icon icon-edit' if User.current.allowed_to?(:edit_issue_todo_lists, @project) %>
  <%= link_to l(:button_delete), project_issue_todo_list_path(@project, @todo_list), method: :delete, data: { confirm: l('text_are_you_sure') }, class: 'icon icon-del' if User.current.allowed_to?(:delete_issue_todo_lists, @project) %>
</div>
<h2><%= title %></h2>
<div class="splitcontentleft">
  <p><%= simple_format(@todo_list.description) %></p>
</div>
<div class="splitcontentright">
  <div class="box" id="show-right-box">
    <%= render :partial => 'issue_todo_lists/show/right_box' %>
  </div>
</div>
<div class="autoscroll" style="clear: both">
  <table id="issue-todo-list-table" class="list <%= 'sortable' if User.current.allowed_to?(:order_issue_todo_list_items, @project) %>">
    <thead>
    <tr>
      <% @issue_query.columns.each do |column| %>
        <th><%= column.caption %></th>
      <% end %>
      <% if User.current.allowed_to?(:remove_issue_todo_list_items, @project) %>
        <th></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
      <%= render :partial => 'items' %>
    </tbody>
  </table>
</div>
<% if User.current.allowed_to?(:add_issue_todo_list_items, @project) %>
  <h3><%= l(:issue_todo_lists_add_issue) %></h3>
  <%= form_for IssueTodoListItem.new, {
                                        :as => :item, :remote => true,
                                        :url => project_issue_todo_list_items_path(@project, @todo_list),
                                        :html => {:id => 'new-item-form'}
                                    } do |f| %>
    <div class="errors"></div>
    <%= l(:label_issue) %> #<%= f.text_field :issue_id, :size => 10 %>
    <%= javascript_tag "observeAutocompleteField('item_issue_id', '#{escape_javascript auto_complete_issues_path(:project_id => @project, :scope => (Setting.cross_project_issue_relations? ? 'all' : nil))}')" %>
  <% end %>
<% end %>